<div class="container p-0">
    <div class="row">
        <div class="col-md-5 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Informações de conta</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account"
                        role="tab" onclick="preencherInfo()">
                        Conta
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                        Senha
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Conta</h5>
                        </div>
                        <div class="card-body">
                            <form id="infoConta" onsubmit="saveId('{{user._id}}')">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="inputUsername">Username</label>
                                            <input type="text" class="form-control" id="inputUsername" value="{{user.nomeUsuario}}"
                                                placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" class="form-control" id="inputEmail"
                                                placeholder="Email" value="{{user.email}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img alt="Username" src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                class="rounded-circle img-responsive mt-2" width="128" height="128">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="hollow success button">Salvar alterações</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Perfil</h5>
                        </div>
                        <div class="card-body">
                            <form id="savePerfil" onsubmit="saveId('{{user._id}}')">
                                <div class="form-group">
                                    <label for="inputName">Nome completo</label>
                                    <input type="text" class="form-control" id="inputName" placeholder="Nome" value="{{user.nome}}">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="dataNasc">Data de nascimento</label>
                                        <input type="date" class="form-control" id="inputDataNasc" value="{{user.perfil.dataNasc}}"
                                            placeholder="1234 Main St">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputSexo">Sexo</label>
                                        <select id="inputSexo" class="form-control">
                                            <option value="{{user.perfil.sexo}}"></option>
                                            <option value="f">Feminino</option>
                                            <option value="m">Masculino</option>
                                            <option value="o">Outro</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputPeso">Peso(kg)</label>
                                        <input type="number" class="form-control" id="inputPeso" step="0.10" value="{{user.perfil.peso}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputAltura">Altura(m)</label>
                                        <input type="number" class="form-control" id="inputAltura" step="0.10"  value="{{user.perfil.altura}}">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputState">Alimentação</label>
                                        <select id="inputAlimentacao" class="form-control">
                                            <option selected="">Selecione</option>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="hollow success button">Salvar alterações</button>
                            </form>

                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="password" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Senha</h5>

                            <form onsubmit="saveId('{{user._id}}')">
                                <div class="form-group">
                                    <label for="inputPasswordCurrent">Senha atual</label>
                                    <input type="password" class="form-control" id="inputSenhaAtual">
                                    <small><a href="#">Esqueceu a senha?</a></small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew">Nova senha</label>
                                    <input type="password" class="form-control" id="inputNovaSenha">
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordNew2">Confirme a senha</label>
                                    <input type="password" class="form-control" id="inputNovaSenhaConfirm">
                                </div>
                                <button type="submit" class="hollow success button">Salvar alterações</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>